@use "~bootstrap/scss/bootstrap" as *;

body {
    background-image: url('https://images8.alphacoders.com/464/464366.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}


.height-md {
    height: 300px;
}
